.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #2E8555;
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Feature Boxes ki styling */
.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

/* Naya Section: "Who Is This Book For?" */
.audienceSection {
  background-color: #f7f7f7; /* Light grey background */
  padding: 4rem 0;
}

/* Aakhri Section: Call to Action */
.ctaSection {
  padding: 5rem 0;
  background-color: var(--ifm-color-primary-dark);
  color: white;
}

.ctaSection h2 {
    color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 0;
  }
  .features, .audienceSection, .ctaSection {
    padding: 3rem 0;
  }
}